@page
@model RazorPagesMovie.Application.Pages.Accout.LoginModel
@{
}
<div class="container border formcheck" style="padding:40px">
    <form action="/" method="post">
        <div class="text">
            Đăng nhập vào cửa hàng
        </div>

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Credential.UserName"></label>
            </div>
            <br />
            <div class="col-5">
                <input type="text"  asp-for="Credential.UserName" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Credential.UserName"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Credential.Password"></label>
            </div>
            <br />

            <div class="col-5">
                <input type="password" asp-for="Credential.Password" class="form-control" />

            </div>
            <span class="text-danger" asp-validation-for="Credential.Password"></span>

        </div>
        <div class="form-group row">
            <div class="col-3 login">
                <input type="submit" class="btn btn-primary login1" value="Login"/>
            </div>
            <div class="col-5">

            </div>
        </div>
    
    </form>
    <style>
        .formcheck{
            width: 613px;
            height: 400px;
        }
        .text{
            font-size: 30px;
            text-align: center;
            font-weight: 700;
            margin-bottom: 30px;
        }
        .login{
            margin-top: 89px;
            width: 100%;
        }

        .login .login1{
            width:100%;
        }

            .login .login1:hover{
                background-color:transparent;
                    border: 1px solid #0B5DD4;
                    color: #0B5DD4;
            }
            form{
            font-family: "Roboto", sans-serif;
            }
    </style>


</div>