@page
@model RazorPagesMovie.Application.Pages.Accout.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KoiFish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KoiFish.FishId" />
            <div class="form-group">
                <label asp-for="KoiFish.Name" class="control-label"></label>
                <input asp-for="KoiFish.Name" class="form-control" />
                <span asp-validation-for="KoiFish.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.Origin" class="control-label"></label>
                <input asp-for="KoiFish.Origin" class="form-control" />
                <span asp-validation-for="KoiFish.Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.Gender" class="control-label"></label>
                <input asp-for="KoiFish.Gender" class="form-control" />
                <span asp-validation-for="KoiFish.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.Age" class="control-label"></label>
                <input asp-for="KoiFish.Age" class="form-control" />
                <span asp-validation-for="KoiFish.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.Size" class="control-label"></label>
                <input asp-for="KoiFish.Size" class="form-control" />
                <span asp-validation-for="KoiFish.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.Price" class="control-label"></label>
                <input asp-for="KoiFish.Price" class="form-control" />
                <span asp-validation-for="KoiFish.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.Stock" class="control-label"></label>
                <input asp-for="KoiFish.Stock" class="form-control" />
                <span asp-validation-for="KoiFish.Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.Image" class="control-label"></label>
                <input asp-for="KoiFish.Image" class="form-control" />
                <span asp-validation-for="KoiFish.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
